* {
    box-sizing: border-box;
}

:root {
    --primary-color: #212832;
    --second-color-gray: #696D76;
    --second-color-violet: #7264D6;
    --text-color-sub-title: #696D77;
    --text-color-white: #fff;
    --text-family: "Open Sans", sans-serif;
    --font-inter: "Inter", sans-serif;
}

html, body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--text-family);
    font-weight: 400;
}

textarea, input, label {
    font-size: inherit;
    font-family: inherit;
}

/* ============ Common ============ */
h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.16;
    color: var(--primary-color);
}

a {
    text-decoration: none;
    display: inline-block;
}

main > section {
    margin-bottom: 160px;
}

.container {
    width: 1170px;
    max-width: 100% - 48px;
    margin: 0 auto;
}

.sub-title {
    position: relative;
    margin-left: 30px;
    line-height: 1.75; /* 175% */
    color: var(--text-color-sub-title);
}

.sub-title::before {
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 18px;
    height: 2px;
    background: currentColor;
}

.desc {
    line-height: 1.67; /* 166.667% */
    color: var(--second-color-gray);
}

.title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25; /* 125% */
    color: var(--primary-color);
}

.text-btn {
    text-align: center;
    font-weight: 600;
    line-height: 1.75; /* 175% */
    color: var(--text-color-white);
}

.bg-btn {
    padding: 15px 30px;
    flex-shrink: 0;
    border: none;
    border-radius: 8px;
    background: var(--primary-color);
}

/* ============ Header ============ */
.header__container {
    display: flex;
    align-items: center;
    padding-top: 42px;
}

.header__logo-cover {
    display: flex;
    align-items: center;
    gap: 7px;
}

.header__navbar {
    display: flex;
    margin-left: 70px;
}

.header--nav-item {
    padding: 8px 24px;
    text-align: center;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    color: var(--second-color-gray);
}

.header--nav-item:hover {
    font-weight: 600;
    color: var(--primary-color);
    text-shadow: 1px 0 0 currentColor;
}

.header__btn-cover {
    margin-left: auto;
}

.header--btn:first-child{
    margin-right: 28px;
    color: var(--primary-color);
}

.header--btn:last-child {
    padding: 12px 28px;
    border-radius: 6px;
}

/* ============ Hero ============ */
.hero__container {
    display: flex;
}

.hero__content {
    width: 46%;
    margin-top: 133px;
}

.hero--title {
    margin-top: 12px;
}

.hero--title span {
    color: var(--second-color-violet);
}

.hero--desc {
    margin-top: 20px;
    font-size: 1.8rem;
}

form {
    position: relative;
    margin-top: 40px;
}

.hero--btn, .hero--label {
    position: absolute;
}

.hero--input {
    width: 100%;
    height: 74px;
    padding: 23px;
    border: none;
    border-radius: 8px;
    background: var(--text-color-white);
    box-shadow: 0 16px 42px 0 rgba(0, 0, 0, 0.07);
}

.hero--label {
    left: 23px;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px;
    color: var(--second-color-gray);
    background: var(--text-color-white);
    transition: translate 0.2s ease;
}

form [type="email"]:focus + label {
    translate: 0 -38px;
}

.hero--btn {
    cursor: pointer;
    right: 8px;
    bottom: 8px;
    white-space: nowrap;
    background: var(--second-color-violet);
}

.hero--sub-btn {
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.72; /* 171.429% */
    color: #696D76;
}

.hero__app {
    position: relative;
    margin-left: 160px;
    margin-top: 76px;
}

.hero--sub-app {
    font-family: var(--font-inter);
    position: absolute;
}

.hero--sub-app.deposite {
    top: 113px;
    left: -100px;
    display: flex;
    align-items: center;
    width: 174px;
    height: 46px;
    flex-shrink: 0;
    padding: 14px 10px;
    border-radius: 6px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
    background: var(--text-color-white);
    z-index: 1;
}

.text-deposite {
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #31456A;
}

.amount-deposite {
    margin-left: 19px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #4AB5E3;
}

.hero--sub-app.interest {
    right: -174px;
    top: 127px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 130px;
    height: 130px;
    flex-shrink: 0;
    border-radius: 50%;
    background: #DA6464;
    z-index: 1;
}

.persent-interest {
    font-size: 4.4rem;
    font-weight: 600;
    color: var(--text-color-white);
}

.text-interest {
    color: #FFF;
}

.hero--sub-app.security {
    right: -74px;
    bottom: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    width: 124px;
    height: 68px;
    padding: 20px 14px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #439F90;
    z-index: 1;
} 

.amount-security {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-color-white);
}

.text-security {
    margin-top: 5px;
    font-size: 0.8rem;
    color: #FFF;
}

/* ============ How ============ */
.how__container {
    display: flex;
    align-items: center;
}

.how__images {
    position: relative;
    width: 39%;
}

.how--bg {
    position: absolute;
    bottom: 2px;
    left: 0;
    z-index: -1;
}

.how--image {
    width: 100%;
    height: 619px;
    object-fit: cover;
    object-position: 65%;
    transform: scaleX(-1);
}

.how-logo {
    position: absolute;
    top: 76px;
    right: 55px;
}

.how__card {
    position: absolute;
    bottom: 96px;
    right: -100px;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 14px 34px 0 rgba(0, 0, 0, 0.07);
    background: #FFFDFA;
    z-index: 1;
}

.how__card--col {
    margin-left: 10px;
    font-family: var(--font-inter);
}

.how__card--title {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-color);
}

.how__card--desc {
    margin-top: 5px;
    font-size: 1.2rem;
    color: var(--second-color-gray);
}

.how__content {
    width: 40%;
    margin-left: 230px;
}

.how--title {
    margin-top: 36px;
}

.how--list {
    margin-top: 70px;
}

.how--list-item {
    margin-top: 30px;
}

.how--list-item:first-child {
    margin-top: 0;
}

.how--list-title {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.455; /* 145.455% */
    color: var(--primary-color);
}

.how--list-desc {
    margin-top: 16px;
    line-height: 1.75; /* 175% */
    color: var(--second-color-gray);
}

/* ============ ATM ============ */
.features__container {
    display: flex;
    align-items: center;
}

.features__content {
    width: 40%;
    margin-left: 230px;
}

.features--title {
    width: 100%;
    margin-top: 36px;
}

.features--desc {
    font-size: 1.8rem;
    margin-top: 20px;
}

.features--list {
    margin-top: 28px;
}

.features--btn {
    margin-top: 38px;
}

.features--list {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

.features--list-item {
    position: relative;
    margin-left: 24px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.667; /* 166.667% */
    color: var(--primary-color);
}

.features--list-item::before {
    position: absolute;
    left: -24px;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--second-color-violet);
}

.atm__card {
    position: relative;
    margin-left: 130px;
    font-family: var(--font-inter);
}

.atm--sent {
    position: absolute;
    top: -48px;
    right: -88px;
    display: flex;
    align-items: center;
    padding: 0 13px 0 0;
    border-radius: 12px;
    background: var(--text-color-white);
    box-shadow: 0 14px 38px 0 rgba(0, 0, 0, 0.07);
}

.sent--title {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary-color);
}

.sent--desc {
    margin-top: 4px;
    font-size: 1rem;
    color: var(--second-color-gray);
}

.amount-sent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 67px;
}

.nev-sent {
    color: var(--primary-color);
}

.time-sent {
    margin-top: 3px;
    color: #696D76;
    font-size: 1rem;
}

.atm--take {
    position: absolute;
    right: -88px;
    bottom: -55px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 120px;
    height: 120px;
    padding: 14px 15px;
    border-radius: 16px;
    background: #439F90;
}

.text-take {
    margin-top: 14px;
    font-size: 1.2rem;
    color: var(--text-color-white);
}

.amount-take {
    margin-top: 6px;
    font-family: "Open Sans";
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--text-color-white);
}

/* ============ Payments ============ */
.payment__images {
    position: relative;
    width: 40%;
}

.payment--bg {
    position: absolute;
    bottom: 2px;
    left: 0;
    z-index: -1;
}

.payment--image {
    width: 413px;
    height: 600px;
    object-fit: cover;
    object-position: 45%;
}

.payment__card {
    position: absolute;
    top: 345px;
    right: -74px;
    width: 281px;
    height: 220px;
    flex-shrink: 0;
    padding: 28px;
    border-radius: 10px;
    box-shadow: 0 44px 48px rgba(0, 0, 0, 0.1);
    background: var(--text-color-white);
}

.payment--icon {
    position: absolute;
    right: -145px;
    top: 288px;
    z-index: 1;
}

.payment__card--text {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.667; /* 166.667% */
    color: var(--primary-color);
}

.payment__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 18px;
    margin-top: 20px;
}